// common
pg-width = 960px
pg-width-left = 360px
pg-width-right = pg-width - pg-width-left

// cupbar
cup-bar-ht = 240px
cup-bar-bg = #fcdd58
coffee-link-pos = 0px -312px

//header-bar
header-bar-ht = 120px
header-bar-bg = #313131
header-bar-space = 160px
header-bar-color = #6c6c6c
header-bar-hover-color = #fcdd4a
header-bar-logo-pos = 0px -263px
header-bar-logo-hover-pos = 0px -218px
header-bar-logo-about-pos = 0px -218px

//footer-bar
footer-bar-ht = 170px
footer-bar-bg = #313131
footer-bar-hover-color = header-bar-hover-color
// ports
port-ht = 240px
port-bd-w = 10px
port-bg = #e7e7e7
port-space = 90px
port-goto-bg-pos = 0px -462px
port-goto-hover-bg-pos = -184px -462px

// posts-list
posts-list-left = 360px
posts-list-title-color = header-bar-bg
post-nav-color = header-bar-bg
post-nav-bg = white
posts-list-hover-bg = #f9f9f9
cat-item-bg-color = btn-bg-dis
cat-item-hover-bg-color = btn-bg-hover
cat-item-color = header-bar-bg
cat-item-hover-color = header-bar-bg
post-cat-padding = 0 20px

// post page
post-page-title-color = header-bar-bg
post-comment-btn-pos = 0px -362px
post-comment-btn-hover-pos = -206px -362px
post-comment-btn-dis-pos = -412px -362px
//page
btn-bg-dis = #ebebeb
btn-bg-hover = cup-bar-bg
btn-color = header-bar-bg
btn-hover-color = header-bar-bg

show-outline = 1px solid blue

.ver-mid-wrapper
  height 100%
  &:before
    display inline-block
    height 100%
    vertical-align middle
    content '\0020'
  .ver-mid-item
    display inline-block
    vertical-align middle

.rounded-corner
  -moz-border-radius 5px
  border-radius 5px
