// common
pg-width = 960px
pg-width-left = 360px
pg-width-right = pg-width - pg-width-left
btn-bg-dis = #ebebeb

// cupbar
cup-bar-ht = 240px
cup-bar-bg = #fcdd4a

//header-bar
header-bar-ht = 120px
header-bar-bg = #313131
header-bar-space = 160px
header-bar-color = #6c6c6c
header-bar-hover-color = #fcdd4a

//footer-bar
footer-bar-ht = 170px

// ports
port-ht = 240px
port-bd-w = 10px
port-bg = #e7e7e7
port-space = 90px

show-outline = 1px solid blue

.ver-mid-wrapper
  height 100%
  &:before
    display inline-block
    height 100%
    vertical-align middle
    content '\0020'
  .ver-mid-item
    display inline-block
    vertical-align middle

.rounded-corner
  -moz-border-radius 5px
  border-radius 5px
