@import 'zcdefine'
@import 'zxblog'

.cup-bar-logo-zc
  margin auto
  width 276px
  height 302px
  background url(/static/imgs/icons.png) -0px -562px
  position fixed
  top 0
  left 50%
  margin-top 30px
  margin-left -138px
  z-index 150

.header-bar-box
  z-index 100

.about-page
  .about-item
    height 815px
    max-height 815px
    background url(/static/imgs/abouthim.png)
    >a
      position relative
      width 246px
      height 380px
      background-color rgba(0, 0, 0, 0)
      display inline-block
    .abouthim1
      left 375px
      top 4px
      &:hover
        background url(/static/imgs/abouthim1.png)
    .abouthim2
      &:hover
        background url(/static/imgs/abouthim2.png)
      left 712px - 246px
      top 4px
    .abouthim3
      &:hover
        background url(/static/imgs/abouthim3.png)
      left -495px
      top 434px
    .zc-email-link
      top 48px
      left 712px

