@import 'zcdefine'
@import 'zxblog'

.cup-bar-logo-zc
  margin auto
  width 276px
  height 302px
  background url(/static/imgs/icons.png) -0px -562px
  position fixed
  top 0
  left 50%
  margin-top 30px
  margin-left -138px

