// common
pg-width = 960px
pg-width-left = 360px
pg-width-right = pg-width - pg-width-left

// cupbar
cup-bar-ht = 240px
cup-bar-bg = white
coffee-link-pos = 0px -950px

//header-bar
header-bar-ht = 120px
header-bar-bg = white
header-bar-space = 160px
header-bar-color = #6c6c6c
header-bar-hover-color = black
header-bar-logo-pos = 0px -906px
header-bar-logo-hover-pos = 0px -867px
header-bar-logo-about-pos = 0px -867px

//footer-bar
footer-bar-ht = 170px
footer-bar-bg = #313131
footer-bar-hover-color = white

// ports
port-ht = 240px
port-bd-w = 10px
port-bg = #e7e7e7
port-space = 90px
port-goto-bg-pos = 0px -1099px
port-goto-hover-bg-pos = -184px -1099px
// posts-list
posts-list-left = 360px
posts-list-title-color = black
posts-list-hover-bg = #f9f9f9
cat-item-bg-color = white
cat-item-hover-bg-color = white
cat-item-color = posts-list-title-color
cat-item-hover-color = btn-bg-hover
post-cat-padding = 0 20px 0 10px

// post page
post-page-title-color = black
post-comment-btn-pos = 0px -999px
post-comment-btn-hover-pos = -206px -999px
post-comment-btn-dis-pos = -412px -362px
post-nav-color = #3c3c3c
post-nav-bg = #e2e2e2
post-page-cat-hover-color = btn-bg-hover

//pages
btn-bg-dis = #ebebeb
btn-bg-hover = #de5b38 
btn-hover-color = white
btn-color = #313131

show-outline = 1px solid blue

.ver-mid-wrapper
  height 100%
  &:before
    display inline-block
    height 100%
    vertical-align middle
    content '\0020'
  .ver-mid-item
    display inline-block
    vertical-align middle

.rounded-corner
  -moz-border-radius 5px
  border-radius 5px
