@import 'define'
body
  margin 0
body, a
  font-family Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif
.pg-item-box
  width 100%
  min-width pg-width
  background-color white
  .pg-item
    margin auto
    width pg-width
.ng-view-box
    clear both


.cup-bar-box
  height cup-bar-ht
  background-color cup-bar-bg
  position fixed
  top 0
  z-index -1000
  .cup-bar-logo
    margin-left pg-width-left
    margin-top cup-bar-ht - 212px
    display inline-block
    width 343px
    height 212px
    background url(/static/imgs/icons.png) -0px 2px

.fixed-header-bar
  position fixed
  top 0
  z-index 1000

.header-bar-box
  height header-bar-ht
  background-color header-bar-bg
  color red
  .header-bar-logo
    height 42px
    width 296px
  .header-bar-logo-normal
    background url(/static/imgs/icons.png) -0px -263px
    &:hover
      background url(/static/imgs/icons.png) -0px -218px
  .header-bar-logo-about
    background url(/static/imgs/icons.png) -0px -218px
  .header-bar-link-active
    color header-bar-hover-color
  .header-bar-link-hib
    color header-bar-color
  .header-bar-links-unfix
    margin-top 30px
  .header-bar-links
    float right
    line-height header-bar-ht - 60px
    margin-left 160px
    text-decoration none
    font-weight bold
    font-size 14px
    letter-spacing 1px
    &:hover
      color header-bar-hover-color
      text-decoration underline

.footer-bar-box
  height footer-bar-ht
  background-color header-bar-bg
  letter-spacing 1px
  .footer-bar a
    color header-bar-color
    text-decoration none
    &:hover
      color header-bar-hover-color
      text-decoration none
  .footer-bar
    .lk-dividor
      margin 0 10px
      color header-bar-color
    .footer-bar-copyright
      color header-bar-color

.about-page
  padding-bottom 40px
  padding-top 1px
  .about-item
    margin-top 40px
  .email-item
    height 480px
    background url(/static/imgs/about-4.jpg) -0px -0px
    .email-btn
      display block
      position relative
      top 350px
      width 138px
      margin auto
      height 40px
      background url(/static/imgs/icons.png) -0px -411px
      &:hover
        background url(/static/imgs/icons.png) -148px -411px

.ports
  margin-right - port-space
  margin-top 40px
  //div
  //  outline show-outline
  .port
    width port-ht
    height port-ht
    display inline-block
    border port-bd-w port-bg solid
    margin 0 port-space 70px 0
    overflow hidden
    background-color port-bg
    >div
      height 100%
    .port-hover
      .port-desc
        height port-ht - 70px - 30px
        padding-top 30px
        span
          width 176px
          margin auto
          display block
          overflow hidden
      .port-goto
        height 70px
        a
          display block
          position relative
          width 176px
          margin auto
          height 40px
          background url(/static/imgs/icons.png) 0px -460px
          &:hover
            background url(/static/imgs/icons.png) -184px -460px

.posts-pg-left
  width posts-list-left
  display inline-block
  float left
.posts-pg-right
  width pg-width - posts-list-left
  display inline-block

.posts-list
  &:hover
    background-color cup-bar-bg
  .posts-list-item
    padding 40px 0
    .posts-pg-left
      letter-spacing 1px
      span
        font-size 14px
      .post-cat-item
        text-transform capitalize
    .posts-pg-right
      letter-spacing 1px
      .post-list-item-title a
        text-transform capitalize
        font-size 28px
        text-decoration none
        color header-bar-bg
      .post-list-item-content
        font-size 14px
        margin-top 20px
        

.post-cats
  height 120px
  border-bottom 1px btn-bg-dis solid
  >div
    height 120px
    float left
  a.post-cat-item
    margin 40px 20px 0 0
    padding 0 10px
    display inline-block
    line-height 40px
    height 40px
    font-size 14px
    text-decoration none
    line-height 40px
    color header-bar-bg
    letter-spacing 1px
    &.pg-current
      background-color cup-bar-bg
      text-decoration underline
    &.pg-normal
      background-color btn-bg-dis
      &:hover
        background-color cup-bar-bg
        text-decoration underline


.pages-nav
  text-align center
  padding 40px 0
  .pages
    margin auto
    height 40px
    #outline show-outline
    display inline-block
    .pg-item
      width 40px
      height 40px
      margin-right 20px
      display inline-block
      a
        width 40px
        height 40px
        display block
        text-decoration none
        line-height 40px
        color header-bar-bg
        &.pg-current
          background-color cup-bar-bg
          text-decoration underline
        &.pg-normal
          background-color btn-bg-dis
          &:hover
            background-color cup-bar-bg
            text-decoration underline

.post-page
  letter-spacing 1px
  font-size 14px
  padding 40px 0
  overflow hidden
  .post-info
    width 700px
    margin-bottom 30px
    .post-title
      font-size 28px
      color header-bar-bg
      text-transform capitalize
      margin-bottom 20px
    .post-date-cat
      font-size 14px
      text-transform capitalize
      .post-cat>a
        color header-bar-hover-color
      .post-date
        margin-left 40px
  .post-content
    >p
      width 720px
    a
      color header-bar-hover-color
    .wp-caption>p.wp-caption-text
      margin-top 10px
      font-size 14px
      color #c9c9c9
      font-style italic
  .post-comment
    .com-header
      font-size 18px
      margin 40px 0 20px 0
      font-weight bold
    >div.comments .comment
      margin-bottom 40px
      line-height 14px
      font-size 14px
      .comment-info
        font-style italic
        margin-top 20px
        color #c9c9c9
        .comment-date
          margin-left 40px
    >div.comment-post
      textarea
        height 200px
        width 400px
        font-size 14px
      label
        margin 20px 0
        font-size 18px
        clear both
        display block
        line-height 18px
      input[type=text], input[type=email]
        font-size 18px
        width 400px
        height 50px
      button
        display block
        height 40px
        width 196px
        border none
        background url(/static/imgs/icons.png) -0px -362px
        &:disabled
          background url(/static/imgs/icons.png) -206px -362px
        &:hover
          background url(/static/imgs/icons.png) -206px -362px
      .button-div
        margin-top 30px

.post-nav
  padding 30px 0
  a
    font-size 18px
    text-decoration none
    color header-bar-bg
    font-weight bold
    line-height 18px
    &:before
      margin-right 20px
  .next-post a:before
    content ">"
  .prev-post a:before
    content "<"
  &:hover
    background-color header-bar-hover-color