@import 'define'
body
  margin 0
body, a
  font-family Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif
.pg-item-box
  width 100%
  min-width pg-width
  .pg-item
    margin auto
    width pg-width
.ng-view-box
    clear both


.cup-bar-box
  height cup-bar-ht
  background-color cup-bar-bg
  .cup-bar-logo
    margin-left pg-width-left
    margin-top cup-bar-ht - 212px
    display inline-block
    width 343px
    height 212px
    background url(/static/imgs/icons.png) -0px 2px

.header-bar-box
  height header-bar-ht
  background-color header-bar-bg
  color red
  .header-bar-logo
    height 42px
    width 296px
  .header-bar-logo-normal
    background url(/static/imgs/icons.png) -0px -263px
  .header-bar-logo-about
    background url(/static/imgs/icons.png) -0px -218px
  .header-bar-link-active
    color header-bar-hover-color
  .header-bar-link-hib
    color header-bar-color
  .header-bar-links
    float right
    line-height header-bar-ht
    margin-left 160px
    text-decoration none
    font-weight bold
    font-size 14px
    letter-spacing 1px
    &:hover
      color header-bar-hover-color
      text-decoration underline

.footer-bar-box
  height footer-bar-ht
  background-color header-bar-bg
  letter-spacing 1px
  .footer-bar a
    color header-bar-color
    text-decoration none
    &:hover
      color header-bar-hover-color
      text-decoration none
  .footer-bar
    .lk-dividor
      margin 0 10px
      color header-bar-color
    .footer-bar-copyright
      color header-bar-color

.about-page
  padding-bottom 40px
  .about-item
    margin-top 40px
  .email-item
    height 480px
    background url(/static/imgs/about-4.jpg) -0px -0px
    .email-btn
      display block
      position relative
      top 350px
      width 138px
      margin auto
      height 40px
      background url(/static/imgs/icons.png) -0px -411px
      &:hover
        background url(/static/imgs/icons.png) -148px -411px

.ports
  margin-right - port-space
  margin-top 40px
  //div
  //  outline show-outline
  .port
    width port-ht
    height port-ht
    display inline-block
    border port-bd-w port-bg solid
    margin 0 port-space 70px 0
    overflow hidden
    background-color port-bg
    >div
      height 100%
    .port-hover
      .port-desc
        height port-ht - 70px - 30px
        padding-top 30px
        span
          width 176px
          margin auto
          display block
          overflow hidden
      .port-goto
        height 70px
        a
          display block
          position relative
          width 176px
          margin auto
          height 40px
          background url(/static/imgs/icons.png) 0px -460px
          &:hover
            background url(/static/imgs/icons.png) -184px -460px

.posts-pg-left
  width posts-list-left
  display inline-block
  float left
.posts-pg-right
  width pg-width - posts-list-left
  display inline-block

.posts-list
  .posts-list-item
    &:hover
      background-color cup-bar-bg
    padding 40px 0

.post-cats
  height 120px
  border-bottom 1px btn-bg-dis solid
  >div
    height 120px
    float left
  a.post-cat-item
    margin 40px 20px 0 0
    padding 0 10px
    display inline-block
    line-height 40px
    height 40px
    font-size 14px
    text-decoration none
    line-height 40px
    color header-bar-bg
    letter-spacing 1px
    &.pg-current
      background-color cup-bar-bg
      text-decoration underline
    &.pg-normal
      background-color btn-bg-dis
      &:hover
        background-color cup-bar-bg
        text-decoration underline


.pages-nav
  text-align center
  margin 40px 0
  .pages
    margin auto
    height 40px
    #outline show-outline
    display inline-block
    .pg-item
      width 40px
      height 40px
      margin-right 20px
      display inline-block
      a
        width 40px
        height 40px
        display block
        text-decoration none
        line-height 40px
        color header-bar-bg
        &.pg-current
          background-color cup-bar-bg
          text-decoration underline
        &.pg-normal
          background-color btn-bg-dis
          &:hover
            background-color cup-bar-bg
            text-decoration underline

          
