.ver-mid-wrapper{height:100%;}
.ver-mid-wrapper:before{display:inline-block;height:100%;vertical-align:middle;content:'\0020'}
.ver-mid-wrapper .ver-mid-item{display:inline-block;vertical-align:middle}
