.ver-mid-wrapper{height:100%;}
.ver-mid-wrapper:before{display:inline-block;height:100%;vertical-align:middle;content:'\0020'}
.ver-mid-wrapper .ver-mid-item{display:inline-block;vertical-align:middle}
.rounded-corner{-moz-border-radius:5px;border-radius:5px}
body{margin:0}
body,a{font-family:Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif}
.pg-item-box{width:100%;min-width:960px;}
.pg-item-box .pg-item{margin:auto;width:960px}
.ng-view-box{clear:both}
.cup-bar-box{height:240px;background-color:#fcdd4a;}
.cup-bar-box .cup-bar-logo{margin-left:360px;margin-top:28px;display:inline-block;width:343px;height:212px;background:url("/static/imgs/icons.png") 0 2px}
.header-bar-box{height:120px;background-color:#313131;color:#f00;}
.header-bar-box .header-bar-logo{height:42px;width:296px}
.header-bar-box .header-bar-logo-normal{background:url("/static/imgs/icons.png") 0 -263px}
.header-bar-box .header-bar-logo-about{background:url("/static/imgs/icons.png") 0 -218px}
.header-bar-box .header-bar-link-active{color:#fcdd4a}
.header-bar-box .header-bar-link-hib{color:#6c6c6c}
.header-bar-box .header-bar-links{float:right;line-height:120px;margin-left:160px;text-decoration:none;font-weight:bold;font-size:14px;letter-spacing:1px;}
.header-bar-box .header-bar-links:hover{color:#fcdd4a;text-decoration:underline}
.footer-bar-box{height:170px;background-color:#313131;letter-spacing:1px;}
.footer-bar-box .footer-bar a{color:#6c6c6c;text-decoration:none;}
.footer-bar-box .footer-bar a:hover{color:#fcdd4a;text-decoration:none}
.footer-bar-box .footer-bar .lk-dividor{margin:0 10px;color:#6c6c6c}
.footer-bar-box .footer-bar .footer-bar-copyright{color:#6c6c6c}
.about-page{padding-bottom:40px;}
.about-page .about-item{margin-top:40px}
.about-page .email-item{height:480px;background:url("/static/imgs/about-4.jpg") 0 0;}
.about-page .email-item .email-btn{display:block;position:relative;top:350px;width:138px;margin:auto;height:40px;background:url("/static/imgs/icons.png") 0 -411px;}
.about-page .email-item .email-btn:hover{background:url("/static/imgs/icons.png") -148px -411px}
.ports{margin-right:-90px;margin-top:40px;}
.ports .port{width:240px;height:240px;display:inline-block;border:10px #e7e7e7 solid;margin:0 90px 70px 0;overflow:hidden;background-color:#e7e7e7;}
.ports .port >div{height:100%}
.ports .port .port-hover .port-desc{height:140px;padding-top:30px;}
.ports .port .port-hover .port-desc span{width:176px;margin:auto;display:block;overflow:hidden}
.ports .port .port-hover .port-goto{height:70px;}
.ports .port .port-hover .port-goto a{display:block;position:relative;width:176px;margin:auto;height:40px;background:url("/static/imgs/icons.png") 0 -460px;}
.ports .port .port-hover .port-goto a:hover{background:url("/static/imgs/icons.png") -184px -460px}
.posts-pg-left{width:360px;display:inline-block;float:left}
.posts-pg-right{width:600px;display:inline-block}
.posts-list:hover{background-color:#fcdd4a}
.posts-list .posts-list-item{padding:40px 0;}
.posts-list .posts-list-item .posts-pg-left{letter-spacing:1px;}
.posts-list .posts-list-item .posts-pg-left span{font-size:14px}
.posts-list .posts-list-item .posts-pg-left .post-cat-item{text-transform:capitalize}
.posts-list .posts-list-item .posts-pg-right{letter-spacing:1px;}
.posts-list .posts-list-item .posts-pg-right .post-list-item-title a{text-transform:capitalize;font-size:28px;text-decoration:none;color:#313131}
.posts-list .posts-list-item .posts-pg-right .post-list-item-content{font-size:14px;margin-top:20px}
.post-cats{height:120px;border-bottom:1px #ebebeb solid;}
.post-cats >div{height:120px;float:left}
.post-cats a.post-cat-item{margin:40px 20px 0 0;padding:0 10px;display:inline-block;line-height:40px;height:40px;font-size:14px;text-decoration:none;line-height:40px;color:#313131;letter-spacing:1px;}
.post-cats a.post-cat-item.pg-current{background-color:#fcdd4a;text-decoration:underline}
.post-cats a.post-cat-item.pg-normal{background-color:#ebebeb;}
.post-cats a.post-cat-item.pg-normal:hover{background-color:#fcdd4a;text-decoration:underline}
.pages-nav{text-align:center;margin:40px 0;}
.pages-nav .pages{margin:auto;height:40px;}
.pages-nav .pages #outline show-outline,.pages-nav .pages display inline-block,.pages-nav .pages .pg-item{width:40px;height:40px;margin-right:20px;display:inline-block;}
.pages-nav .pages #outline show-outline a,.pages-nav .pages display inline-block a,.pages-nav .pages .pg-item a{width:40px;height:40px;display:block;text-decoration:none;line-height:40px;color:#313131;}
.pages-nav .pages #outline show-outline a.pg-current,.pages-nav .pages display inline-block a.pg-current,.pages-nav .pages .pg-item a.pg-current{background-color:#fcdd4a;text-decoration:underline}
.pages-nav .pages #outline show-outline a.pg-normal,.pages-nav .pages display inline-block a.pg-normal,.pages-nav .pages .pg-item a.pg-normal{background-color:#ebebeb;}
.pages-nav .pages #outline show-outline a.pg-normal:hover,.pages-nav .pages display inline-block a.pg-normal:hover,.pages-nav .pages .pg-item a.pg-normal:hover{background-color:#fcdd4a;text-decoration:underline}
.post-page{letter-spacing:1px;font-size:14px;padding:40px 0;overflow:hidden;}
.post-page .post-info{width:700px;margin-bottom:30px;}
.post-page .post-info .post-title{font-size:28px;color:#313131;text-transform:capitalize;margin-bottom:20px}
.post-page .post-info .post-date-cat{font-size:14px;text-transform:capitalize;}
.post-page .post-info .post-date-cat .post-cat>a{color:#fcdd4a}
.post-page .post-info .post-date-cat .post-date{margin-left:40px}
.post-page .post-content a{color:#fcdd4a}
.post-page .post-content .wp-caption>p.wp-caption-text{margin-top:10px;font-size:14px;color:#c9c9c9;font-style:italic}
.post-page .post-comment .com-header{font-size:18px;margin:40px 0 20px 0;font-weight:bold}
.post-page .post-comment >div.comments .comment{margin-bottom:40px;line-height:14px;font-size:14px;}
.post-page .post-comment >div.comments .comment .comment-info{font-style:italic;margin-top:20px;color:#c9c9c9;}
.post-page .post-comment >div.comments .comment .comment-info .comment-date{margin-left:40px}
.post-page .post-comment >div.comment-post textarea{height:200px;width:400px;font-size:14px}
.post-page .post-comment >div.comment-post label{margin:20px 0;font-size:18px;clear:both;display:block;line-height:18px}
.post-page .post-comment >div.comment-post input[type=text],.post-page .post-comment >div.comment-post input[type=email]{font-size:18px;width:400px;height:50px}
.post-page .post-comment >div.comment-post button{display:block;height:40px;width:196px;border:none;background:url("/static/imgs/icons.png") 0 -362px;}
.post-page .post-comment >div.comment-post button:disabled{background:url("/static/imgs/icons.png") -206px -362px}
.post-page .post-comment >div.comment-post button:hover{background:url("/static/imgs/icons.png") -206px -362px}
.post-page .post-comment >div.comment-post .button-div{margin-top:30px}
.post-nav{padding:30px 0;}
.post-nav a{font-size:18px;text-decoration:none;color:#313131;font-weight:bold;line-height:18px;}
.post-nav a:before{margin-right:20px}
.post-nav .next-post a:before{content:">"}
.post-nav .prev-post a:before{content:"<"}
.post-nav:hover{background-color:#fcdd4a}
