<loading></loading>
<div class="pg-item post-page" ng-controller="PostCtrl" ng-hide="loading">
    <div class="post-info">
        <div class="post-title">
            <span class="title">
                {{$post.title}}
            </span>
        </div>
        <div class="post-date-cat">
            <span class="post-cat" ng-repeat="($catid, $cate) in $post.taxonomies.category">
                <span class="post-list-item-cats-dividor" ng-show="$index">/</span>
                <a class="post-cat-item" href="#/posts/{{$cate.slug}}/1">{{$cate.name}}</a>
            </span>

            </span>
            <span class="post-date">{{$post.date}}</span>
        </div>
    </div>
    <div class="post-content" 
         fancy-it>
        
    </div>
    <div class="post-comment">
        <div class="com-header">
            Comments
        </div>
        <div class="comments">
            <div class="comment" ng-repeat="$c in $comments">
                <div class="comment-content">
                    {{$c.content || $c.comment}}
                </div>
                <div class="comment-info">
                    <span class="comment-author">{{$c.author}}</span>
                    <span class="comment-date">{{$c.date}}</span>
                </div>
            </div>
        </div>
        <div class="comment-post">
            <div class="com-header">
                Add your thoughts
            </div>
            <div class="com-form">
                <form method="" action="" name="postcom">
                    <div class="control-group">
                        <textarea type="textarea" name="comment" value=""
                               ng-model="$comment.comment" required /></textarea>
                        <span class="">
                        </span>
                    </div>
                    <div class="control-group">
                        <label>What should I call you?</label>
                        <input type="text" name="author" value=""
                               ng-model="$comment.author" required />
                        <span class="">
                        </span>
                    </div>
                    <div class="control-group">
                        <label>And your E-mail is ...</label>
                        <input type="email" name="email" value=""
                               ng-model="$comment.email" required />
                        <span class="">
                        </span>
                    </div>
                    <div class="button-div">
                        <button ng-click="save()"
                                ng-disabled="postcom.$invalid"
                                class="btn btn-primary">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="post-nav" ng-show="$post.next_post">
    <div class="pg-item post-link next-post">
        <a href="#/post/{{$post.next_post.ID}}"
           title="{{$post.next_post.post_title}}">
            {{$post.next_post.post_title}}
        </a>
    </div>
</div>
<div class="post-nav" ng-show="$post.prev_post">
    <div class="pg-item post-link prev-post">
        <a href="#/post/{{$post.prev_post.ID}}"
           title="{{$post.prev_post.post_title}}">
            {{$post.prev_post.post_title}}
        </a>
    </div>
</div>
